  html{
    font-family: 'Roboto', sans-serif;
  }

  body{
    width: 100vw;
  }

  /* responsive 375px*/
  @media all and (min-width: 375px){
    header {
      width: 100vw;
      margin-bottom: -110px;
    }

  #CTAtop {
    width: 235px;
    height: 40px;
    margin: 30px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    background: #4DC3F9;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    display: block;
    transition: width 0.2s, height 0.2s, font-size 0.2s, ease-and-out;
  }

  #CTAtop:hover {
    width: 258px;
    height: 44px;
    font-size: 21px;
  }

  a {
    text-decoration: none;
  }

  #logo{
    width: 150px;
    margin: 30px auto;
    display: block;
  }

  .cohort-picture{
    width: 100vw;
    height: 410px;
    background-image: url("../img/squad.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cohort-title {
    font-size: 35px;
    color: white;
  }

  .intro-program h1 {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2D354C;
    }

  h2{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2D354C;
  }

  #bootcamp-program {

  }

  .intro-program p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #818693;
    padding: 20px;
  }

  .card-program-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
  }

  .card-program{
    text-align: center;
    background-color: #F8F8F8;
    width: 90%;
    margin: 2%;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .card-program p:first-child{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #EC3A35;
  }

  .card-program p:nth-child(2){
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2D354C;
  }

  .card-program p:last-child{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #818693;
  }

  #bootcamp-figures {
    background-color: #4DC3F9;
    padding: 20px;
  }

  #bootcamp-figures h2{
    color: white;
    padding : 43px;
  }

  .figures-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .figures-wrapper .figure {
    flex: 0 0 50%;
    text-align: center;
    font-size: 90px;
    font-family: Roboto mono, sans-serif;
    margin-bottom: 20px;
  }

  #bootcamp-figures p {
    font-family: Roboto Mono;
    font-style: normal;
    padding: 10px;
    font-weight: 500;
    font-size: 96px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2D354C;
  }

  #bootcamp-figures span{
    font-family: Roboto Mono;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2D354C;
  }

  #bootcamp-projects{
    padding : 34px;
  }

  .card-project-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card-project {
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 90%;
    margin: 2%;
    }

  .project-image {
    width: 100%;
    border-radius: 6px;
    }


  .card-project h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #2D354C;
    padding: 10px;
    }

  #bootcamp-students {
    width: 100vw;
  }

  .student-wrapper, .teachers-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .student, .teacher {
    display: inline-block;
    text-align: center;
    padding: 8px;
    }

  .student-name, .teacher-name {
    font-family: Roboto Mono, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
    }

  .student-tagline, .teacher-tagline {
    font-size: 14px;
    color: #818693;
  }

  .student img, .teacher img {
    width: 100%;
  }


  #bootcamp-teachers, #bootcamp-projects {
    width: 100vw;
    padding: 30px 0;
    background-color: #F8F8F8;
  }

  footer {
    background: #4DC3F9;
    padding: 20px;
    }

  footer h2 {
    color: white;
  }

  #CTAbottom {
    width: 235px;
    height: 40px;
    margin: 30px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    background: white;
    border: none;
    border-radius: 6px;
    color: #4DC3F9;
    display: block;
    transition: width 0.2s, height 0.2s, font-size 0.2s, ease-and-out;
  }

  #CTAbottom:hover {
    width: 258px;
    height: 44px;
    font-size: 21px;
  }
  }

@media all and (min-width: 750px) {
  .cohort-picture {
    height: 620px;
  }

  .cohort-title {
    font-size: 70px;
  }

  .card-program-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-arround;
    width: 100vw;
  }
  .card-program{
    width: 35%;
    margin: 2%;
  }
  .figures-wrapper .figure {
    flex: 25%;
  }
  .card-project {
  width: 25%;
  margin: 2%;
  }

  #CTAtop {
    position: absolute;
    right: 40px;
    top: 20px;
  }
}

/* Responsive 1440px */
