  html{
    font-family: 'Roboto', sans-serif;
  }

  body{
    margin: 10px;
    width: 100vw;
  }

  /* responsive 375px*/
  @media all and (min-width: 375px){
    header {
      width: 100%;
    }

  #CTAtop{
    width: 235px;
    height: 40px;
    margin: 30px auto;
    text-decoration: none;
    background: #4DC3F9;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    display: block;
  }

  #logo{
    width: 150px;
    margin: 30px auto;
    display: block;
  }

  .cohort-picture{
    width: 100vw;
    height: 410px;
    background-image: url("../img/squad.jpg");
    background-size: cover;
  }

  .intro-program h1 {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2D354C;
    }

  h2{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2D354C;
  }

  #bootcamp-program{
    padding: 0 35px;
  }

  .intro-program p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #818693;
  }

  .card-program{
    text-align: center;
    background-color: #F8F8F8;
    padding: 24px;
    margin-bottom: 35px;
    width:;
    height: 230px;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .card-program p:first-child{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #EC3A35;
  }

  .card-program p:nth-child(2){
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2D354C;
  }

  .card-program p:last-child{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #818693;
  }

  #bootcamp-figures {
    background-color: #4DC3F9;
    padding: 20px;
  }

  #bootcamp-figures h2{
    color: white;
    padding : 43px;
  }

  .figures-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .figures-wrapper .figure {
    flex: 0 0 50%;
    text-align: center;
    font-size: 90px;
    font-family: Roboto mono, sans-serif;
    margin-bottom: 20px;
  }

  #bootcamp-figures p {
    font-family: Roboto Mono;
    font-style: normal;
    padding: 10px;
    font-weight: 500;
    font-size: 96px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2D354C;
  }

  #bootcamp-figures span{
    font-family: Roboto Mono;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2D354C;
  }

  #bootcamp-projects{
    padding : 34px;
  }

  .card-project {
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }

  .project-image {
    width: 100%;
    }

  .card-project h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #2D354C;
    margin: 18px 18px 18px 18px;
    }

  #bootcamp-students {
    width: 100vw;
    padding: 28px;
  }

  .student {
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 40%;
    }

  .student-name {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    text-align: center;
    }

  .student img{
    width: 100%;
  }

  .France {
    width: 137px;
    height: 150px;
  }

  #bootcamp-teachers {
    background-color: #F8F8F8;
    width: 100vw;
    padding: 28px;
  }

  .teacher {
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 40%;
    }

  .teacher img {
    width: 100%;
  }

  .teacher-name {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    align-items: center;
    text-align: center;
    }

  footer {
    background: #4DC3F9;
    height: 220px;
    width: 100%;
    }

  #CTAbottom {
    font-family: Roboto;
    font-size: 21px;
    border-radius: 6px;
    border: none;
    text-decoration: none;
    width: 235px;
    height: 40px;
    background: #FFFFFF;
    color: #4DC3F9;
    display: block;
    margin: 30px auto;
    }
  }

/* Responsive 1440px */
